h1 {
    font-family: Georgia, serif;
    color: rgb(14, 64, 11);
    font-size: 36px;
    font-weight: bold;
    column-span: all;
    text-align:center;
}

body {
    background: rgb(173, 213, 171);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 14px;
    column-count: 2;
    column-gap: 50px;
    column-width: 100px;
    margin: 25px 75px 100px;
}

img {
    border: 1px solid black;
    width: 80%;
    object-fit: cover;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}
