h1 {
    font-family: Georgia, serif;
    color: rgb(14, 64, 11);
    font-size: 26px;
    font-weight: bold;
}

body {
    background: rgb(173, 213, 171);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 13px;
}
img {
    border: 1px solid black
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}
